<nav class="nav">
  <div class="nav-wrapper">
    <%= link_to image_tag("8-bit-heart.png", class: "brand"), "/" %>
    <ul class="right icons">
      <li><%= link_to image_tag("turing-logo.png"), "https://www.turing.io/alumni/chelsea-johnson" %></li>
      <li><%= link_to image_tag("github-icon.png"), "https://github.com/cheljoh" %></li>
      <li><%= link_to image_tag("linked-in.png"), "https://www.linkedin.com/in/cheljoh" %></li>
    </ul>
  </div>
</nav>
