<section id="hero">
  <h1><span id="cheljoh-text">cheljoh</span></h1> <br />
  <a href="#">
    <div id="about-button" class="text-box">about</div><br />
  </a>
  <a href="#">
    <div id="resume-button" class="text-box">resume</div><br />
  </a>
</section>

<div id="about-content">
  <div class="container center-align">
    <%= image_tag("headshot.jpg", id: "headshot") %>
    <p> My name is Chelsea Johnson, and I am a full-stack web developer. <br>
        I specialize in Rails and several JavaScript frameworks. I enjoy gaming and outdoor adventures.
    </p>
  </div>
  <a href="#">
    <div id="hide-about" class="text-box">Hide</div><br />
  </a>
</div>

<div id="resume"> <br />
  <div class="container resume-content">
    <div class="row">
      <div class="col s6">
        <div class="resume-header center-align"> SKILLS</div>
        <h6>Languages/Libraries:</h6>
        <p>
          <span class="indent">Ruby, JavaScript, jQuery, AJAX, ActiveRecord</span>
        </p>
        <h6>Frameworks:</h6>
        <p>
          <span class="indent">Ruby on Rails, Node.js, React.js</span>
        </p>
        <h6>Databases:</h6>
        <p>
          <span class="indent">PostgreSQL, Firebase</span>
        </p>
        <h6>Testing:</h6>
        <p>
          <span class="indent">RSpec, MiniTest, Teaspoon, Capybara, Mocha</span>
        </p>
      </div>
      <div class="col s6">
        <div class="resume-header center-align"> SUMMARY</div>
        <p> I am an optimistic and hard­working full-stack web­ developer. <br /><br />
          My greatest joy when working on a project is brainstorming grand ideas and making them happen. <br /><br />
          As a result of my previous work experience, I am able to recognize patterns, engage in critical thinking, and collaborate with professionals and clients. <br /><br />
          I am looking for a team that challenges me and provides opportunities to explore new technologies.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="center-align resume-header"> CODE</div>
        <p>
          <b>Purrrsonality Test</b> <br />
          Created a personality test API to serve Five Factor Personality Test questions, score responses, and send results. Consumed API in a separate Rails application which pairs users with a famous internet cat. The app relies on jQuery/AJAX/JavaScript for most functionality. <br /> <br />
          <div class="center-align">
            <%= image_tag("quiz-questions.png") %> <br />
            <a href="https://purrrsonalitytest.herokuapp.com", target="_blank">Demo</a>
            |<a href="https://github.com/cheljoh/purrrsonality_test", target="_blank"> App Code</a>
            |<a href="https://github.com/cheljoh/personality_test_api", target="_blank"> API Code</a> <br /><br />
          </div>
        </p>

        <p>
          <b>Feline Friends­y</b><br />
          E­commerce Rails app produced in a team setting that allows users to rent fictional cats. <br /> <br />
          <div class="center-align">
            <%= image_tag("feline-friendsy-pic.png") %> <br />
            <a href="https://felinefriendsy.herokuapp.com", target="_blank">Demo</a>
            |<a href="https://github.com/cheljoh/feline_friends-y", target="_blank"> Code</a> <br /><br />
          </div>
        </p>

        <p>
          <b>GO GO NYAN CAT</b><br />
          Engaging game built with JavaScript, jQuery, and HTML5 Canvas. Tested with Mocha and Chai. <br /><br />
          <div class="center-align">
            <%= image_tag("nyan-screenshot.png") %> <br />
            <a href="https://cheljoh.github.io/game-time", target="_blank">Play the game!</a>
            |<a href="https://github.com/cheljoh/game-time", target="_blank"> Code</a>
          </div>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <div class="resume-header center-align">EDUCATION</div>
        <p> Turing School of Software and Design
            Certificate in Web Application Development with Ruby, Rails and JavaScript<br />
            June 2016 <br /><br />
            University of Nebraska – Omaha <br />
            Master of Science- <br />
            Speech-Language Pathology<br />
            May 2013 <br /><br />
            University of Nebraska – Omaha<br />
            Bachelor of Science – Education <br />
            December 2010 <br />
        </p>
      </div>
      <div class="col s6">
        <div class="resume-header center-align">WORK</div>
        <p> Speech-Language Pathologist, Pediatric Therapy Center <br /><br />
           Papillion, NE--2013-­2015 <br /><br />
          Assessment and intervention for children with articulation, cognitive, and language concerns.<br /><br />
          Planned, organized, and conducted speech-language programs. <br /> <br />
          Collaborated with occupational therapists, physical therapists, teachers, nurses, and doctors. <br /><br />
        </p>
      </div>
    </div>
  </div>
  <a href="#">
    <div id="hide-resume" class="text-box">Hide</div><br />
  </a>
</div>
