<section id="hero">
  <h1><span id="cheljoh-text">cheljoh</span></h1> <br />
  <a href="#">
    <div id="about-button" class="text-box">about</div><br />
  </a>
  <a href="/assets/CjohnsonResume.pdf" download="cjohnsonresume">
    <div class="text-box">resume</div><br />
  </a>
</section>

<div id="about-content">
  <div class="container center-align">
    <%= image_tag("headshot.jpg", id: "headshot") %>
    <p id="intro"> My name is Chelsea Johnson, and I am a full-stack web developer. <br>
        I specialize in Rails and several JavaScript frameworks. I enjoy gaming and outdoor adventures.
    </p>
  </div>
  <a href="#">
    <div id="hide-about" class="text-box">Hide</div><br />
  </a>
</div>
