html {
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
   font-size: 25px;
   background-color: #F8F8F8;
 }

 .nav {
   background-color: #D8D8D8;
 }

 .brand {
   margin-left: 10px;
   margin-top: 10px;
 }

 #hero{
  text-align: center;
  font-size: 40px;
  color: #000;
  background-color: #FFF;
  height: 700px;
  padding-top: 50px;
}

.text-box{
  font-size: 40px;
  text-align: center;
  height: 65px;
  width: 200px;
  margin: auto;
  border-radius: 10%;
  color: #009933;
  border-radius: 10%;
  border: 1px solid #C8C8C8;
}

#cheljoh-text{
  font-family: 'Press Start 2P', cursive;
  font-size: 80px;
  color: #009933;
}

#headshot{
  margin-top: 1em;
  border: 5px solid #404040;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#about-content{
  display: none;
}

#resume{
  display: none;
}

#hide-about{
  background-color: #F8F8F8
}

.hide-heart{
  margin-top: 10px;
}

.icons{
  margin-top: 10px;
}

.indent{
  margin-left: 20px;
}

#resume p{
  font-size: 20px;
}

#static-resume p{
  font-size: 20px;
}

.resume-header{
  font-size: 35px;
  color: #009933;
}
